*.json
*.txt
Bin_*
Test.cpp
Base.cpp

// Problemas sin resolver de CF
Product_of_Three_Numbers.cpp


// Problemas sin resolver de CSES
Movie_Festival.cpp


// Problemas sin resolver de UVa
Correct_Move.cpp
